
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
}
.responsive {
	margin: 0px auto;
}

.main-section {
	padding: 50px;
	text-align: center;
}

.button {
	width: auto;
	padding: 12px;
	color: #FFF;
	background-color: #FF2F57;
	border: 0px;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;

	transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
}
.button:hover {
	background-color: #E6284D;
}

.button.inverse {
	background-color: #E6284D;
}
.button.inverse:hover {
	background-color: #FF2F57;
}

.button i {
	margin-right: 5px;
}

.clearfix {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*
*		FADE EFFECT
*/

.fade-out {
  visibility: hidden;
  opacity: 0;
}
.fade-in {
	visibility: visible;
	opacity: 1;

	transition: opacity 0.3s ease-in-out !important;
	-moz-transition: opacity 0.3s ease-in-out !important;
	-o-transition: opacity 0.3s ease-in-out !important;
	-webkit-transition: opacity 0.3s ease-in-out !important;
}
#main-header {
	height: 60px;
	background-color: #FF2F57;
	border-bottom: solid 1px #EEE;
	text-align: center;
	overflow: hidden;
}
#main-header .title {
	margin-top: 12px;
	color: #FFF;
}
#main-header .title.show-up {
	transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;

	opacity: 1;
}
#background-popup {
	/*display: none;*/
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.popup {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 400px;
	height: 250px;
	background-color: #FFF;
	margin: auto auto;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	z-index: 10;
}
.popup .close-popup {
	float: right;
	background-color: transparent;
	font-size: 14px;
}
.popup .close-popup i {
	color: #FF2F57;

	transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
}
.popup .close-popup:hover i {
	color: #555;
}
.popup p {
	margin-top: 50px;
	font-size: 16px;
	text-align: center;
}
.popup p .insurance-name {
	margin-top: 10px;
	font-weight: 600;
}
.popup .remove-insurance {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 40px;
	margin: auto;
	width: auto;
	display: inline;
}
#home {
	width: 800px;
	padding: 50px;
	margin: 0px auto;
	margin-top: 50px;
	overflow: hidden;
}
#home .total-yearly-premium {
	float: left;
	margin-top: 15px;
	color: #FF2F57;
	font-weight: 400;
	font-size: 14px;
}
#home .total-yearly-premium span {
	font-weight: 700;
}
#home .choose-your-insurance {
	margin: 140px 0px 50px 0px;
	color: #FF2F57;
	font-size: 20px;
	font-weight: 300;
	/*opacity: 0;*/
}
#home .choose-your-insurance.show {
	opacity: 1;

	transition: opacity 0.3s ease-in-out 0.5s;
	-moz-transition: opacity 0.3s ease-in-out 0.5s;
	-o-transition: opacity 0.3s ease-in-out 0.5s;
	-webkit-transition: opacity 0.3s ease-in-out 0.5s;
}
#home .add-insurance-button {
	float: right;
	margin-bottom: 20px;
}
#home .add-insurance-button.big {
	float: none;
	margin-top: 100px !important;
	font-size: 16px;
	font-weight: 400;
	/*opacity: 0;*/
}
#home .add-insurance-button.big.show {
	opacity: 1;

	transition: opacity 0.3s ease-in-out 1s;
	-moz-transition: opacity 0.3s ease-in-out 1s;
	-o-transition: opacity 0.3s ease-in-out 1s;
	-webkit-transition: opacity 0.3s ease-in-out 1s;
}

#home .user-insurances-table {
	width: 100%;
	border: solid 1px #EEE; 
	border-collapse: collapse;
}
#home .user-insurances-table th,
#home .user-insurances-table td {
	padding: 15px;
	border: solid 1px #EEE;
	font-size: 14px;
}
#home .user-insurances-table th:last-child,
#home .user-insurances-table td:last-child {
	width: 30px;
}

#home .user-insurances-table td button {
	background-color: transparent;
	border: 0px;
	color: #AAA;
	font-size: 14px;
	cursor: pointer;

	transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}
#home .user-insurances-table td button:hover {
	color: #FF2F57;
}
#add-insurance .go-back {
	float: left;
	padding: 7px;
	margin-top: -70px;
	color: #FF2F57;
	background-color: transparent;
	text-decoration: underline;

	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
}
#add-insurance .go-back:hover {
	color: #FFF;
	background-color: #FF2F57;
}
#add-insurance h1 {
	margin: 80px 0px 40px 0px;
	font-size: 20px;
	color: #FF2F57;
}
#add-insurance .input-text {
	width: 220px;
	margin: auto;
	margin-bottom: 20px;
}
#add-insurance .input-text span {
	float: left;
	margin-bottom: 3px;
	color: #444;
	font-size: 12px;
	font-weight: 600;
}
#add-insurance .input-text input[type="text"] {
	width: calc(100% - 24px);
	padding: 10px;
	font-size: 14px;
}

#add-insurance .custom-list i {
	position: absolute;
	margin: 15px 0px 0px -20px;
	color: #CCC;
	font-size: 16px;

	transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
}
#add-insurance .custom-list:hover i {
	color: #FF2F57;
}
#add-insurance .custom-list ul {
	position: absolute;
	padding: 0px;
	z-index: 2;
}
#add-insurance .custom-list ul li {
	list-style: none;
	width: 200px;
	padding: 10px;
	margin: 0px auto	;
	color: #333;
	background-color: #FFF;
	font-size: 14px;
	text-align: center;
	border: solid 1px #EEE;
	border-top: 0;
	cursor: pointer;

	transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	-webkit-transition: background-color 0.3s linear;
}
#add-insurance .custom-list ul {
	border-top: solid 1px #EEE;
}
#add-insurance .custom-list ul li:hover {
	color: #FFF;
	background-color: #FF2F57;
}
#add-insurance #choose-insurance {
	width: 220px;
}
#alert {
	width: 300px;
	height: 200px;
}
#alert p {
	margin-top: 80px;
}
@media only screen and (min-width :1224px) {

	.responsive {
		width: 1180px;
	}

}

		
/* Desktops and laptops ----------- */
@media only screen and (min-width :1024px) and (max-width : 1224px) {

	.responsive {
		width: 980px;
	}
	#home .user-insurances-list-section {
		padding: 50px 0px 0px 0px !important;
	}

}


/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

	.responsive {
		width: 720px;
	}
	#home .user-insurances-list-section {
		width: 100% !important;
		padding: 50px 0px 0px 0px !important;
	}

}

	
@media only screen and (min-width : 480px) and (max-width : 768px) {

	.responsive {
		width: 450px;
	}

	#home {
		padding: 50px 0px 0px 0px !important;
	}
	#home .user-insurances-list-section {
		width: 100% !important;
		padding: 50px 0px 0px 0px !important;
	}
	#home .user-insurances-table th,
	#home .user-insurances-table td {
		padding: 10px !important;
	}

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

	.responsive {
		width: 280px;
	}
	#home {
		padding: 50px 0px 0px 0px !important;
	}
	#home .user-insurances-list-section {
		width: 100% !important;
		padding: 50px 0px 0px 0px !important;
	}
	#home .user-insurances-table th,
	#home .user-insurances-table td {
		padding: 5px !important;
	}
	#add-insurance {
		padding: 50px 0px 0px 0px !important;
	}

}


/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {

	.responsive {
		width: 270px;
	}
	#home .user-insurances-list-section {
		width: 100% !important;
		padding: 50px 0px 0px 0px !important;
	}
	#home .user-insurances-table th,
	#home .user-insurances-table td {
		padding: 5px !important;
	}
	#add-insurance {
		padding: 50px 0px 0px 0px !important;
	}

}
